$SHOP_LINK_COLOR: #146294;
$SHOP_LINK_COLOR_HOVER: #FF3138;

$SHOP_TAB_BORDER_HOVER: $SHOP_LINK_COLOR_HOVER;

$SHOP_BOX_BTN_BG: #146294;
$SHOP_BOX_BTN_COLOR: #fff;

$SHOP_BOX_BTN_BG_HOVER: #1A7FC0;
$SHOP_BOX_BTN_COLOR_HOVER: $SHOP_BOX_BTN_COLOR;

$SHOP_CITYSELECTOR__LINK_COLOR: $SHOP_LINK_COLOR;
$SHOP_CITYSELECTOR__LINK_COLOR_HOVER: $SHOP_LINK_COLOR_HOVER;

$SHOP_REPRESENT_HOVER_COLOR: $SHOP_LINK_COLOR_HOVER;

$SHOP_RADIUS_MAIN: 10px;
$SHOP_RADIUS_BTN: 4px;
$SHOP_RADIUS_TAB_SUB: $SHOP_RADIUS_MAIN;

$SHOP_TAB_ACTIVE_COLOR: #146294;

$SHOP_PILL_COLOR: #146294;
$SHOP_PILL_ACTIVE_COLOR: #FF3138;

@import "lib/stm/_shops";
