/* BLOCKS - TABLES
---------------------------------------------------------------------*/

/*
<a class="pseudoTable">
	<span class="col name">Имя</span>
	<span class="col age">Возраст</span>
	<span class="col weight">Вес</span>
</a>
*/

.pseudoTable .col {
	box-sizing: border-box;
	display: inline-block;
	padding: .75em;
	vertical-align: middle;
	word-wrap: break-word;
}
