$SHOP_LINK_COLOR: #d18f02;
$SHOP_LINK_COLOR_HOVER: #f2453f;

$SHOP_TAB_BORDER_HOVER: $SHOP_LINK_COLOR_HOVER;

$SHOP_BOX_BTN_BG: #F2453F;
$SHOP_BOX_BTN_COLOR: #fff;

$SHOP_BOX_BTN_BG_HOVER: #DE2821;
$SHOP_BOX_BTN_COLOR_HOVER: $SHOP_BOX_BTN_COLOR;

$SHOP_CITYSELECTOR__LINK_COLOR: $SHOP_LINK_COLOR;
$SHOP_CITYSELECTOR__LINK_COLOR_HOVER: $SHOP_LINK_COLOR_HOVER;

$SHOP_REPRESENT_HOVER_COLOR: $SHOP_LINK_COLOR_HOVER;

$SHOP_RADIUS_MAIN: 0;
$SHOP_RADIUS_BTN: 0;
$SHOP_RADIUS_TAB_SUB: $SHOP_RADIUS_MAIN;

$SHOP_TAB_ACTIVE_COLOR: #F2453F;

$SHOP_PILL_COLOR: #d18f02;
$SHOP_PILL_ACTIVE_COLOR: #F2453F;

@import "lib/stm/_shops";

.ShopAddresses {
	margin-top: 30px;
}

.Tabs--shopAddresses .Tab__title {
	font-size: 14px;
}
