.Breadcrumbs {
	margin: 25px 0 30px;
	padding: 0;
	font-size: 13px;
	list-style-type: none;

	&__item {
		display: inline-block;

		& + &:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			background-image: svg('arrowSmall_3x7', '[color]: $colorText');
			width: width('arrowSmall_3x7.svg');
			height: height('arrowSmall_3x7.svg');
			margin: 0 7px;
		}
	}
}
