$theme_name: 'oz_forest';
$theme_brand: #00733e;
$theme_bHover: #005a31;
$theme_accent: #ff4500;
$theme_aHover: #d93b00;
$theme_layoutAccentColor: #f1f1f1;

$brandColor: #00aff0;
$brandColorLighter: #2dc6ff;

@import 'modules/_themeVars_oz';

$theme_logo: logo_oz.png;
$theme_logo_width: 194px;
$theme_logo_height: 79px;
$theme_logo_s_width: 131px;
$theme_logo_s_height: 36px;

$theme_lowPrice_icon: low_price--oz.png;
$theme_lowPrice_width: 70px;
$theme_lowPrice_height: 70px;

$theme_placemarkCluster: #00733e;
$theme_placemarkClusterActive: #0Ca15c;

@import '_modules';
