$theme_name: 'oz_coffee';
$theme_brand: #a2645d;
$theme_bHover: #8a554f;
$theme_accent: #38959f;
$theme_aHover: #248089;
$theme_layoutAccentColor: #f1f1f1;

$brandColor: #00aff0;
$brandColorLighter: #2dc6ff;

@import 'modules/_themeVars_oz';

$theme_logo: logo_oz.png;
$theme_logo_width: 194px;
$theme_logo_height: 79px;
$theme_logo_s_width: 131px;
$theme_logo_s_height: 36px;

$theme_lowPrice_icon: low_price--oz.png;
$theme_lowPrice_width: 70px;
$theme_lowPrice_height: 70px;

$theme_placemarkCluster: #a2645d;
$theme_placemarkClusterActive: #c58079;

@import '_modules';
