.Viewer {
	padding: 30px;
	white-space: nowrap;
	user-select: none;

	&__subject {
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 50% 50%;
		cursor: pointer;
		cursor: url('/assets_brauberg/img/cursors/zoom_in.cur'), auto;
		cursor: zoom-in;

		.Viewer__video {
			width: 100%;
			height: 100%;
		}

		&:before {
			content: '';
			display: inline-block;
			padding-top: 100%;
			vertical-align: top;
		}

		&--smallPhoto {
			cursor: pointer;
		}

		&--video {
			cursor: default;
		}

		&--zoom {
			cursor: pointer;
			cursor: url('/assets_brauberg/img/cursors/zoom_out.cur'), auto;
			cursor: zoom-out;
		}
	}

	&__photoList {
		width: 69px;
		display: inline-block;
		vertical-align: top;
		margin-top: -10px;
	}

	&__target {
		display: none;
		width: 80px;
		height: 40px;
		position: absolute;
		border: 1px solid #acacac;
		z-index: 1;
		background-color: rgba(255, 255, 255, .3);
		pointer-events: none;
		cursor: pointer;
	}

	&__object {
		display: none;
		width: calc(100% - 50px);
		height: 100%;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 50px;
		border: 1px solid #666;
		background-color: #fff;
		background-repeat: no-repeat;
		box-shadow: 0 0 10px rgba(0, 0, 0, .15);

		img {
			position: absolute;
		}
	}

	.ProductPhoto__box {
		display: inline-block;
		vertical-align: top;
		margin-left: 10px;
		white-space: normal;
	}

	.ProductPhoto__item {
		margin: 10px 10px 0 0;
	}
}
