/* EXPORT FOR EXTERNAL SERVICES
------------------------------------------------------------------------------*/

.Items--exportExternalServices {
	.Items__list {
		width: auto;
		min-width: 400px;
	}

	.Item__box {
		box-sizing: border-box;

		&--checkbox {
			width: 64px;
		}

		&--count {
			width: 1px;
			white-space: nowrap;
			text-align: center;
		}
	}

	.Item--selected {
		background-color: #fff2d9;
	}

	.Field {
		width: 60px;
		text-align: center;
	}
}

.FancyModal--exportExternalServices {
	width: 577px;
	box-sizing: border-box;
	padding-top: 29px;

	.FancyModal__header,
	.FancyModal__content,
	.FancyModal__control {
		padding-x: 28px;
	}

	.FancyModal__header {
		margin-bottom: 1.05em;
	}

	.FancyModal__control {
		margin-top: 36px;
	}
}

.contentWrapper--exportExternalServices {
	.mainContent & {
		padding: 15px 20px;
	}

	.contentWrapper.controlPanel {
		padding-bottom: 20px;
	}

	h3 {
		margin: 10px 0;
	}

	p {
		line-height: 18px;
	}

	.Upload .btnMain {
		white-space: nowrap;

		&:before {
			content: "";
			display: inline-block;
			margin-top: -.2em;
			margin-right: .4em;
			background-image: resolve('icons/upload_10x11_fff.png');
			background-repeat: no-repeat;
			background-position: 50% 50%;
			width: width('icons/upload_10x11_fff.png');
			height: height('icons/upload_10x11_fff.png');
			vertical-align: middle;
		}
	}

	.Upload + .btnMain {
		margin-left: 10px;
	}
}
