.Items--counterparties {
	.Items__list {
		margin-top: 0;
	}

	.Item__box--edit {
		width: 1px;
		padding-top: 7px;
	}
}

.Items--tasks {
	.Items__list {
		margin-top: 0;
	}

	.Item__box--indicator {
		width: 4%;
	}

	.Item__box--name {
		width: 74%;
		padding-left: 0;
	}

	.Item__box--edit {
		text-align: right;
	}

	.Item__box--status {
		color: #000;
	}
}

.Items--returnRequestsList {
	.Item__box {
		vertical-align: top;

		&--indicator {
			padding-right: 0;
		}

		&--numberDate {
			width: 110px;
		}

		&--status {
			width: 135px;
		}

		&--shop {
			width: 200px;

			& + .Item__box--status {
				width: 180px;
			}
		}

		&--accountable,
		&--untitled {
			.btn {
				white-space: nowrap;
			}
		}
	}
}

.Items--overageList {
	.Item__box {
		vertical-align: top;

		&--indicator {
			padding-right: 0;
		}

		&--numberDate {
			width: 110px;
		}

		&--shop {
			width: 200px;
		}

		&--orderNumber {
			width: 80px;
		}

		&--status {
			width: 180px;
		}
	}
}

.Items--overageProducts {
	& + .contentWrapper--commentBuc {
		padding-top: 20px;
		border-top: 1px solid #dadada;
	}

	.Items__caption {
		font-size: 14px;
		margin-top: 15px;
	}

	.Items__list {
		margin-top: 0;
	}

	.Item__box {
		&--count {
			text-align: right;
			padding-right: 60px;
		}
	}
}

.Items--overageProductsEdit {
	& + .controlPanel--overageProductsEdit {
		border-top: 1px solid #dadada;
	}

	.Items__list {
		margin-top: 0px;
	}

	.Item {
		&:hover,
		&--active {
			background-color: #e9f8f3;
		}

		&__box {
			&--checkbox {
				width: 30px;
			}

			&--count {
				width: 80px;
			}
		}
	}
}

.Items--commercialOffers {
	.Item__box {
		vertical-align: top;

		&--number {
			width: 15%;
		}

		&--organisation {
			width: 25%;
		}

		&--organisation,
		&--status {
			.Badge {
				margin-top: 2px;
			}
		}

		&--sum {
			text-align: right;
		}
	}
}

.Items--showcasesSorting {
	border: none;
	margin-x: -20px;

	.Items__header,
	.Items__group {
		display: block;
	}

	.Item {
		&__box {
			vertical-align: top;

			&--drag {
				width: 1%;
				padding-left: 20px;
			}

			&--status {
				width: 1%;
				min-width: 10px;
			}

			&--name {
				width: 21%;
			}

			&--visibility {
				width: 41%;
			}

			&--period {
				white-space: nowrap;
				width: 19%;
			}

			.BadgeStatus {
				padding-x: 0;
				vertical-align: top;
			}
		}

		.Spoiler--default {
			display: flex;
			flex-direction: column-reverse;

			.Spoiler__header {
				padding: 0;
			}

			.Spoiler__label {
				font-size: 12px;
				margin-left: 0;
				margin-top: 2px;
			}

			.Spoiler__content {
				padding: 0;
			}
		}
	}
}

.Items--refundsList {
	.Item__box {
		vertical-align: top;

		&--indicator {
			padding-right: 0;
		}

		&--numberDate {
			width: 110px;
		}

		&--sum {
			text-align: right;
			white-space: nowrap;
			padding-right: 30px;
		}

		&--orderNumber {
			width: 70px;
		}

		&--status {
			width: 220px;
		}
	}
}

.Items--refundsProductsList {
	.Items__caption {
		font-size: 13px;
		margin-top: 25px;
	}

	.Item__box {
		vertical-align: top;

		&--number {
			width: 35px;
		}

		&--code {
			width: 70px;
		}

		&--price {
			text-align: right;
			white-space: nowrap;
			width: 100px;
		}

		&--amount {
			text-align: right;
			white-space: nowrap;
			width: 65px;
		}

		&--sum {
			text-align: right;
			white-space: nowrap;
			width: 95px;
		}
	}

	.Items__summary {
		border-top: none;
	}

	& + .controlPanel {
		margin-top: 3px;
	}
}

.Items--returnShortageList {
	.Item__box {
		vertical-align: top;

		&--indicator {
			padding-right: 0;
		}

		&--numberDate {
			width: 110px;
		}

		&--shop {
			width: 150px;
		}

		&--sum {
			width: 70px;
			text-align: right;
			padding-right: 30px;
		}
	}
}

.Items--returnShortage {

	& + .controlPanel {
		margin-top: 3px;
	}

	.Items {
		&__caption {
			font-size: 13px;
		}

		&__list {
			margin-top: 0;
		}
	}

	.Item__box {
		&--checkbox {
			width: 1%;
		}

		&--product {
			width: 40px;
		}

		&--price,
		&--sum,
		&--availableReturn {
			white-space: nowrap;
			text-align: right;
		}

		&--quantity,
		&--acceptedReturn {
			text-align: right;
			width: 100px;
		}

		&--reason {
			width: 160px;
		}

		&--sum {
			width: 65px;
		}
	}

	.Items__group {
		.Item__box {
			vertical-align: top;
		}
	}

	.Items__summary {
		border-top: none;
	}

	.Field--reason {
		width: 160px;
	}

	& + .contentWrapper--comment {
		padding-top: 25px;
	}

	.Item__img {
		max-width: 40px;
		height: auto;
	}
}

.Items--returnShortageEdit {
	.Items__group {
		.Item__box {
			padding-y: 20px;

			&--checkbox {
				padding-top: 30px;
			}
		}
	}

	.Item__box {
		&--acceptedReturn {
			text-align: left;
		}
	}

	.Item--active {
		background-color: #fff2d9;
	}

	.TextCounter,
	.Field--reason {
		margin-top: -6px;
		vertical-align: top;
	}
}

.Items--listOrders {
	.Items__list {
		border: none;
		width: auto;
	}

	.Item__box {
		&--remove {
			padding-right: 0;
		}
	}
}

.Items--invoices {
	.Items__group {
		.Item__box {
			vertical-align: top;
		}
	}

	.Item__box {
		&--number {
			width: 90px;
		}

		&--siteOrderNumber {
			width: 55px;
		}

		&--consignee {
			.Item__aux {
				margin-bottom: .3em;
			}

			.Item__limiter {
				max-width: 130px;
				word-wrap: break-word;
			}
		}

		&--sum {
			text-align: right;
			width: 100px;
		}

		&--result {
			width: 110px;
			padding-left: 20px;
		}

		&--expenseDocument {
			width: 150px;
		}
	}

	.Badge {
		margin-top: 4px;
	}
}

.Items--invoicesSent {
	.Items__group {
		.Item__box {
			vertical-align: top;
		}
	}

	.Item__box {
		&--number {
			width: 80px;
		}

		&--siteOrderNumber {
			width: 55px;
		}

		&--printableForm {
			width: 65px;
		}

		&--customer {
			.Item__limiter {
				max-width: 175px;
				word-wrap: break-word;
			}
		}

		&--sum {
			text-align: right;
			width: 70px;
		}

		&--shippingDate {
			width: 90px;
		}

		&--email {
			word-break: break-all;
			min-width: 120px;
		}
	}
}

.Items--invoicesProducts {
	.Items__caption {
		font-size: 14px;
		margin-top: 25px;
	}

	.Items__header {
		.Item__box {
			white-space: nowrap;
		}
	}

	.Items__group {
		.Item__box {
			vertical-align: top;
		}
	}

	.Item__box {
		&--number {
			width: 30px;
		}

		&--code {
			width: 70px;
		}

		&--name {
			word-break: break-all;
			word-break: break-word;
		}

		&--price {
			text-align: right;
			width: 180px;
		}

		&--count {
			text-align: right;
			width: 60px;
		}

		&--sum {
			text-align: right;
			width: 100px;
		}
	}

	.Items__summ {
		& + .Items__summ {
			margin-top: 10px;
		}
	}
}

.Items--removable {
	.Items__list {
		width: auto;
		margin-top: 0;

		.contentWrapper & {
			border: none;
		}
	}

	.Item__box {
		border-top-width: 0;
		padding-top: 0;
		padding-x: 5px;
		vertical-align: top;

		&:first-child {
			padding-left: 0;
		}
	}

	.Items__add {
		.pseudoLink {
			font-size: 13px;
		}
	}

	& + .Form__error {
		margin-top: 10px;
	}
}

.Items--invoicesProductsErp {
	@extend .Items--invoicesProducts;

	.Item__box {
		&--number,
		&--code,
		&--count {
			width: auto;
		}

		&--code {
			.pseudoLink {
				cursor: help;
			}
		}

		&--price,
		&--sum {
			width: auto;
			white-space: nowrap;
		}

		&--discount {
			text-align: right;
		}
	}
}

.Items--bookkeepingReconciliation {
	.Items__group {
		.Item__box {
			vertical-align: baseline;
		}
	}

	.Item__box {
		&--date {
			width: 14%;
		}

		&--period {
			width: 18%;
		}

		&--mail {
			width: 19%;
			word-break: break-all;
			word-break: break-word;
		}

		&--status {
			width: 14%;
		}
	}
}

.Items--newsletters {
	.Items__header {
		.Item__box {
			white-space: nowrap;
		}
	}

	.Item__box {
		&--number {
			width: 16%;
		}

		&--dispatchDate,
		&--readDate {
			width: 14%;
		}

		&--addCartDate {
			width: 17%;
		}

		&--orderNumber {
			width: 13%;
		}

		&--orderAmount {
			text-align: right;
			padding-right: 100px;
		}
	}
}

.Items--returnQualityGoodsList {
	.Items__group {
		.Item__box {
			vertical-align: top;
		}
	}

	.Item__box {
		&--request {
			width: 16%;

			.Item__aux {
				&--returnDate {
					color: inherit;
					margin-top: 4px;
				}

				&--badge {
					margin-top: 0;
				}
			}

			.Badge {
				margin-top: 4px;
				margin-right: 2px;
				white-space: nowrap;
			}
		}

		&--subdivision {
			width: 13%;
		}

		&--sum {
			white-space: nowrap;
			text-align: right;
		}

		&--status {
			width: 14%;
		}

		&--responsible {
			width: 20%;

			.Item__responsible + .Item__responsible {
				margin-top: 6px;
			}
		}

		&--print {
			width: 1px;
		}
	}
}

.Items--returnQualityGoodsCard {
	.Items__title {
		font-weight: bold;
		margin-bottom: 0;
	}

	.Items__header {
		.Item__box {
			&--solution {
				.Box {
					vertical-align: bottom;
				}
			}
		}
	}

	.Items__group {
		.Item__box {
			vertical-align: top;

			&--solution {
				.Box {
					vertical-align: top;
				}
			}
		}
	}

	.Item__aux--error {
		margin-top: 5px;
		font-size: inherit;
	}

	.Item__box {
		&--code {
			width: 1px;
			padding-right: 5px;

			.pseudoLink {
				cursor: help;
			}
		}

		&--product {
			padding-left: 5px;

			.Item__aux {
				margin-top: 4px;
				font-size: inherit;
				color: inherit;
			}
		}

		&--price {
			white-space: nowrap;
			text-align: right;

			.Item__price + .Item__price {
				margin-top: 4px;
			}
		}

		&--shipped {
			width: 1px;
			white-space: nowrap;

			.Item__aux {
				font-size: inherit;
			}
		}

		&--number,
		&--seasonality {
			width: 1px;
		}

		&--solution {
			width: 32%;

			.Group {
				& + .Group {
					margin-top: 10px;
				}

				.Box {
					&--status {
						width: 43%;
						padding-right: 10px;
					}

					&--comment {
						width: 57%;
						padding-left: 10px;
					}
				}
			}
		}

		&--amount {
			width: 1px;

			.Item__amount {
				display: inline-block;
			}
		}
	}
}

.Items--returnQualityGoodsForm {
	.Items__title {
		font-weight: 700;
		margin-bottom: 0;
	}

	.Items__group {
		.Item__box {
			vertical-align: top;
		}
	}

	.Item__box {
		&--checkbox {
			width: 1px;
		}

		&--code {
			width: 1px;
			padding-right: 5px;

			.pseudoLink {
				cursor: help;
			}
		}

		&--product {
			padding-left: 5px;

			.Item__aux {
				margin-top: 4px;

				.Badge--grey  {
					cursor: help;
				}
			}
		}

		&--shipped {
			white-space: nowrap;
		}

		&--quantity {
			width: 4.5em;
			white-space: nowrap;
		}

		&--price,
		&--sum {
			white-space: nowrap;
			text-align: right;
		}

		&--sum {
			.Item__field {
				display: none;
			}
		}

		&--reason {
			width: 14%;
		}
	}

	.Item--accent {
		.Item__box--sum {
			.Item__field {
				display: block;
			}
		}
	}

	.Item:not(.Item--accent) {
		.Item__activationShow {
			display: none;
		}
	}
}

.Items--commentHistory {
	.Item__box {
		vertical-align: baseline;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}

		&--status {
			width: 18%;
		}

		&--fio {
			width: 30%;
		}

		&--date {
			width: 14%;
		}
	}
}
