/* INFO
---------------------------------------------------------------------*/

.Info {

	&--thin {
		max-width: 760px;
	}


	/* АДОВЕЙШИЙ ОТСТОЙ */
	/* стили для старого раздела о компании */
	/* под у который были свои, особенные стили */

	&--company {
		@mixin groupIB;
		max-width: 760px;
	}

	&--company h3 {
		border-bottom: 2px solid $dividerColor;
		clear: left;
		color: #444;
		font-size: 18px;
		font-weight: normal;
		margin: 35px 0 30px;
		padding: 0 0 5px;
	}

	h3 {
		font-weight: bold;
	}

	#imgCompany {
		@mixin groupIB;
		width: 100%;
	}
	.imgCompany {
		float: left;
		margin: 0 20px 30px 0;

		img {
			border: 1px solid #999;
			margin: 0;
		}

		p {
			margin-bottom: 0;
		}
	}

	ul#shopList {
		@mixin List--basic;
		float: left;
		list-style-type: none;
		margin: 0;
		width: 350px;

		li {
			@mixin List__item--basic;
			margin: 0 0 .5em;
		}
		span {
			border-bottom: 1px dotted;
			color: $theme_color_9;
			cursor: pointer;

			&:hover {
				color: $linkHoverColor;
			}

			.Page--oz & {
				&:hover {
					color: $theme_color_9;
				}
			}

			&.current {
				border: 0;
				color: #111;
				cursor: default;
				font-size: 1.2em;
				font-weight: bold;
			}
		}
	}

	ul#shopDescription {
		@mixin List--basic;
		float: right;
		margin: 0;
		width: 390px;

		li {
			@mixin List__item--basic;
			display: none;

			&.current {
				display: block;
			}
		}

		dl {
			float: left;
			width: 120px;
		}
		dt {
			font-weight: bold;
		}
		dd {
			margin-bottom: 20px;
			margin-left: 0;
		}

		img {
			border: 1px solid #999;
			float: right;
		}
	}

	/* ~ АДОВЕЙШИЙ ОТСТОЙ */


	&__header {
		@mixin H--sub;
		border: 1px solid $dividerColor;
	}

	&__content {
		border: 1px solid $dividerColor;
		padding: 30px 10px 10px;
	}

	&__header + &__content {
		border-top: 0;
	}
}

.Info--headers {
	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
	}
}
