$theme_color_1: $brandColor;
$theme_color_2: $theme_accent;
$theme_color_3: $brandColorLighter;
$theme_color_4: $theme_accent;
$theme_color_5: $theme_brand;
$theme_color_6: $theme_aHover;
$theme_color_7: $brandColor;
$theme_color_8: $theme_brand;
$theme_color_9: $brandColor;
$theme_color_10: $brandColorLighter;
$theme_color_11: $theme_brand;

$theme_playIcon: play_73x73_d23.png;
$theme_playIcon_s: play_18x18_d23.png;
