$SHOP_LINK_COLOR: #006FB6;
$SHOP_LINK_COLOR_HOVER: #E30613;

$SHOP_TAB_BORDER_HOVER: $SHOP_LINK_COLOR_HOVER;

$SHOP_BOX_BTN_BG: #006FB6;
$SHOP_BOX_BTN_COLOR: #fff;

$SHOP_BOX_BTN_BG_HOVER: #E30613;
$SHOP_BOX_BTN_COLOR_HOVER: $SHOP_BOX_BTN_COLOR;

$SHOP_CITYSELECTOR__LINK_COLOR: $SHOP_LINK_COLOR;
$SHOP_CITYSELECTOR__LINK_COLOR_HOVER: $SHOP_LINK_COLOR_HOVER;

$SHOP_REPRESENT_HOVER_COLOR: $SHOP_LINK_COLOR_HOVER;

$SHOP_RADIUS_MAIN: 10px;
$SHOP_RADIUS_BTN: 4px;
$SHOP_RADIUS_TAB_SUB: $SHOP_RADIUS_MAIN;

$SHOP_TAB_ACTIVE_COLOR: #006FB6;

$SHOP_PILL_COLOR: #006FB6;
$SHOP_PILL_ACTIVE_COLOR: #E30613;

@import "lib/stm/_shops";

.ShopAddresses .ShopAddresses__description p {
	font-size: 1em;
	line-height: 1.5em;
	margin: 0 0 1.5em;
}

@media (max-width: 1280px) {
	.Page--shops {
		.Sidebar.main {
			display: none;
		}
		.Content.main {
			margin-left: 0;
		}
	}
}

.ShopAddressesWidget {
	background-color: #fff;
	margin-top: 0;
	padding-top: 47px;
	margin-bottom: -3px;

	&__header {
		font-weight: bold;
		font-size: 20px;
		line-height: 23px;
		text-align: center;
		margin-bottom: 25px;
	}

	.BuyOnline {
		max-width: 900px;
		margin: auto;
	}

	.BuyOnline__link {
		border-color: #dcdcdc;
		height: 40px;
		line-height: 40px;
		padding: 25px 20px;
	}

	.BuyOnline__title {
		margin-top: 3px;
	}
}
