/* FEEDBACK
------------------------------------------------------------------------------*/

.Badge--client {
	color: #cd5f5f;
	border-color: currentColor;
	text-transform: uppercase;
}
.Badge--seo {
	color: #3ca9c0;
	border-color: currentColor;
	text-transform: uppercase;
}

.BadgeMessage {
	display: inline-block;

	&--new {
		width: width('icons/bubble_main.png');
		height: height('icons/bubble_main.png');
		background-image: resolve('icons/bubble_main.png');
	}

	&--responded,
	&--commented {
		width: width('icons/bubbles.png');
		height: height('icons/bubbles.png');
		background-image: resolve('icons/bubbles.png');
	}

	&--crm,
	&--spam {
		width: width('icons/bubble_main_outline.png');
		height: height('icons/bubble_main_outline.png');
		background-image: resolve('icons/bubble_main_outline.png');
	}

	&--spam {
		filter: grayscale(100%);
	}
}

.ConversationTip {
	p {
		margin: 0;
	}
	p + p {
		margin-top: .7em;
	}
}

	

.Feedback__list {
	.Items__header .Item__box {
		vertical-align: middle;
	}

	.Item__box {
		vertical-align: top;

		&--indicator {
			width: 1%;
		}

		&--client .Item__aux {
			margin-top: 4px;
		}
	}
}


.feedbackInfo {
	box-sizing: border-box;
	display: table;
	table-layout: fixed;
	width: 100%;

	.BadgeStatus__indicator {
		width: .9em;
		height: .9em;
	}

	.Form {

		&__set {
			width: 100%;

			&--submit {
				margin-top: 25px;
			}
		}

		&__title {
			font-size: 13px;
			font-weight: bold;
		}
	}

	&__type {
		color: #999;
		font-size: 13px;
		margin-top: 5px;
	}

	.Upload {
		margin-top: 12px;

		&--attachments {
			margin-top: 0;
		}
	}

	.TabContent2 {
		.Form {
			box-sizing: border-box;
			padding: 15px 20px;
		}
	}
}


.feedbackClient {
	background: #efefef;
	box-sizing: border-box;
	font-size: 13px;
	width: 100%;
	padding: 1.2em 2em;
	margin-top: .5em;

	&__box {
		white-space: nowrap;
		box-sizing: border-box;
		display: table-cell;
		vertical-align: middle;
		line-height: 1.5em;

		&--aux {
			width: 100%;
			vertical-align: middle;
		}

		&--wordWrap {
			white-space: normal;
		}

		.Field {
			vertical-align: middle;
		}

		.BadgeMessage {
			vertical-align: middle;
		}
	}

	&__boxLabel {
		vertical-align: middle;
	}

	&__box + &__box {
		padding-left: 25px;
	}

	&__item {
		&--status {
			color: #999;
		}

		&--value {
			font-weight: bold;
		}

		&--phone {
			color: #999;
		}
	}

	&__status,
	&__updated {
		vertical-align: middle;
	}

	&__status {
		font-weight: bold;
	}

	&__updated {
		margin-left: .5em;
	}

	.btn + .btn {
		margin-left: .2em;
	}
}


.feedbackChat {
	box-sizing: border-box;
	font-size: 13px;
	padding: 10px 20px;
	width: 600px;
}


.Feedback {

	&__IDP,
	&__clientName {
		font-weight: bold;
	}

	&__IDP {
		vertical-align: middle;
	}

	&__clientInfo {
		font-size: 13px;
		border-bottom: 1px solid #dadada;
	}

	&__clientPhone {
		margin-left: 1em;
	}

	.filter {

		&--feedbackStatus,
		&--feedbackKeywords {
			width: 120px;
		}

		&--feedbackResponsible {
			width: 100px;
		}
	}

	&__contacts {
		line-height: 1.5;
	}
}


.feedbackReply {
	border-top: 1px solid #dadada;

	.Form {
		box-sizing: border-box;
		width: 600px;
		margin: 0;
		padding: 20px;
	}

	&__closeAppeal {
		user-select: none;
		vertical-align: middle;
		position: relative;
		top: 1px;
		margin-left: 10px;
	}
}

.feedbackEmployee {
	font-size: 13px;

	&__photo {
		display: inline-block;
		width: 42px;
		height: 42px;
		margin-right: 5px;
		position: relative;
	}

	.Spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 5;
		opacity: 0;
		visibility: hidden;
		transition:
		  opacity .2s ease-in-out,
		  visibility .2s ease-in-out;

		.not-oldie & {
			border-width: 2px;
			border-color: $main $main transparent transparent;
			font-size: 48px;
			margin-left: -21px;
			margin-top: -21px;
		}

		&--active {
			opacity: 1;
			visibility: visible;
		}
	}

	&__img {
		width: 100%;
		height: auto;

		&--hide {
			opacity: 0;
			visibility: hidden;
		}
	}

	&__info {
		display: inline-block;
		vertical-align: middle;
	}

	&__name {
		color: #1782aa;
		cursor: pointer;
		font-weight: bold;

		&:hover {
			color: #28bd8b;
		}
	}
}
