.Plaques {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #bbb;
	border-radius: $BD_RAD;
	padding: 4px 0 0 4px;
	user-select: none;
	cursor: default;
	position: relative;

	&:hover {
		border-color: #ababab;
	}
}

.Plaques--completed {
	padding: 0;
	border-width: 0;

	.Plaque--item {
		cursor: default;
	}

	.Plaque__label {
		padding-right: 5px;
	}
}

.Plaques--hasDropdown {
	position: relative;

	.Plaques__dropdown {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		margin-left: -1px;
		margin-top: 1px;
		width: calc(100% + 2px);
		z-index: 100;
	}
}

.Plaques--showDropdown {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	.Plaques__dropdown {
		display: block;
	}
}

.Plaque {
	display: inline-block;
	position: relative;
	margin: 0 4px 4px 0;
	line-height: 16px;
}

.Plaque__label {
	display: block;
	padding: 3px 20px 3px 5px;
	border-radius: 2px;
	font-size: 12px;
}

.Plaque__icon {
	position: absolute;
}

.Plaque--item {
	cursor: pointer;

	.Plaque__label {
		background-color: #e2f3ed;
	}
	.Plaque__icon {
		width: 11px;
		height: 11px;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 5px;
		margin-top: auto;
		margin-bottom: auto;
		background-image: resolve('icons/cross_7x7_000.png');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		opacity: .25;
	}

	&:hover .Plaque__icon {
		background-image: resolve('icons/cross_7x7_e55.png');
		opacity: 1;

		& + .Plaque__label {
			background-color: #d4e9e2;
		}
	}
}

.Plaque--add {
	cursor: pointer;

	.Plaque__icon {
		position: absolute;
		width: 8px;
		height: 8px;
		top: 0;
		bottom: 0;
		left: 6px;
		margin-top: auto;
		margin-bottom: auto;
		background-image: resolve('icons/plus_8x8_18a.png');
	}
	.Plaque__label {
		padding-left: 20px;
		padding-right: 5px;
		background: none;
		color: #1782aa;
	}
}

.Plaque--add:hover {
	.Plaque__icon {
		background-image: resolve('icons/plus_8x8_2b8.png');
	}
	.Plaque__label {
		color: #28bd8b;
	}
}

.Plaque--poor {
	.Plaque__label {
		background-color: #efefef;
	}

	&:hover .Plaque__icon + .Plaque__label {
		background-color: #e5e5e5;
	}
}

.Plaque--exception {
	.Plaque__label {
		background-color: #ffeeee;
	}

	&:hover .Plaque__icon + .Plaque__label {
		background-color: #f9e1e1;
	}
}

.Plaque--disabled {
	.Plaque__label {
		padding-right: 5px;
	}

	&:hover {
		.Plaque__label {
			background-color: #d4e9e2;
		}
	}
}

.Plaque--info {
	cursor: help;
}

.Plaques--simple {
	.Plaque--item {
		.Plaque__label {
			position: relative;

			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: resolve('icons/cross_7x7_000.png');
				background-repeat: no-repeat;
				background-position: center right 5px;
				opacity: .25;
			}

			&:hover {
				background-color: #d4e9e2;

				&:before {
					background-image: resolve('icons/cross_7x7_e55.png');
					opacity: 1;
				}
			}
		}
	}
}

.Plaques--poor {
	.Plaque--item {
		.Plaque__label {
			background-color: #efefef;
		}

		&:hover .Plaque__icon + .Plaque__label {
			background-color: #e5e5e5;
		}
	}
}

.Plaques--exception {
	.Plaque--item {
		.Plaque__label {
			background-color: #ffeeee;
		}

		&:hover .Plaque__icon + .Plaque__label {
			background-color: #f9e1e1;
		}
	}
}


.Plaques--disabled {
	background-color: $neutral-8;
	pointer-events: none;

	.Plaque__icon {
		filter: grayscale(100%);
	}

	.Plaque__label {
		color: $disableColor;
	}
}

.Plaques--error,
.Plaques--error:hover {
	border-color: $error;
}
