/* PRICE
---------------------------------------------------------------------*/

/*doc
<span class="Price"><span class="Price__count">1<span class="Price__s">&nbsp;</span>455</span><span class="Price__c">,</span><span class="Price__penny">97</span><span class="PriceCurrency PriceCurrency--rub"> руб.</span></span>
*/
.Price {
	display: inline-block;
	white-space: nowrap;
}
.Price.Price--discount {
	display: block;
	font-size: 16px;
	text-decoration: line-through;
	color: $actionColor;
	margin-bottom: 0;
}
.Price__penny {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	margin-left: .3em;
	font-size: 50%;
	top: -.75em;
}
.Price__s {
	@mixin textHalfSpace;
}
.Price__c {
	@mixin textHide;
}

.PriceCurrency {
	&--rub,
	&--kzt,
	&--amd {
		margin-left: .15em;
		font-family: 'Currencies', Arial, Helvetica, sans-serif;
		-webkit-font-feature-settings: "liga";
		-moz-font-feature-settings: "liga=1";
		-moz-font-feature-settings: "liga";
		-ms-font-feature-settings: "liga" 1;
		    font-feature-settings: "liga";
		-webkit-font-variant-ligatures: discretionary-ligatures;
		        font-variant-ligatures: discretionary-ligatures;
	}
}

.Price .Price__advantage {
	color: $actionColor;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;

	.Price__count,
	.PriceCurrency {
		font-size: 14px;
	}

	.Price__penny {
		font-size: 7px;
		top: -6px;
		margin-left: .2em;
	}
}

.Price--recommend {
	cursor: help;

	&:after {
		 color: $theme_accent;
		content: "*";
		font-size: 17px;
		font-weight: bold;
		position: relative;
		top: -8px;
	}
}

.Price--specialOffer {
	color: $actionColor;
	margin-bottom: 0;
	padding-bottom: 26px;
	text-align: left;

	.Price__quantity {
		position: absolute;
		color: #777;
		font-size: 11px;
		line-height: 11px;
	}
}

.Price--best {
	color: $actionColor;
	margin-bottom: 0;
	line-height: 1.125;
}

.Price--initial {
	position: relative;
	font-size: 14px;
	line-height: 1.125;

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -1px;
		width: 100%;
		height: 1px;
		background-color: $actionColor;
	}
}
