$theme_color_1: #0093c9;
$theme_color_2: $theme_brand;
$theme_color_3: $theme_bHover;
$theme_color_4: #22b5f2;
$theme_color_5: $theme_accent;
$theme_color_6: $theme_bHover;
$theme_color_7: $theme_brand;
$theme_color_8: #ce1728;
$theme_color_9: #d02433;
$theme_color_10: $theme_brand;
$theme_color_11: $brandColor;

$theme_playIcon: play_73x73_1bf.png;
$theme_playIcon_s: play_18x18_1bf.png;
