.Actions--default {
	display: block;

	.Actions__header {
		padding: 12px 15px;
		color: $BRAND;
		font-size: 16px;
		border-bottom: 1px solid $B_ACTION;

		.icon.actionGift {
			margin-right: .6em;
			background-image: resolve('interface/gift_brand.png');
		}
	}

	.Actions__content {
		border: 1px solid $BRAND;
		border-radius: $BD_RAD;
	}
}
