.Alert--default {
	box-sizing: border-box;
	padding: 17px 20px 17px 40px;
	font-weight: bold;
	line-height: 1.5;

	&.Alert--warning {
		background-color: #fff2d9;

		&:before {
			content: '';
			float: left;
			width: width('attention_outline_13x13.svg');
			height: height('attention_outline_13x13.svg');
			margin-top: 2px;
			margin-left: -20px;
			background-image: svg('attention_outline_13x13', '[color]: $error');
		}
	}
}
