.CostRange--default {
	.CostRange__item {
		display: inline-block;
		color: $C_GRAY_DARK;

		&--active {
			font-weight: bold;
			font-size: 13px;
			color: #000;
		}
	}

	.CostRange__item + .CostRange__item:before {
		content: '\3c';
		margin-right: .25em;
		color: $C_GRAY_DARK;
		font-weight: normal;
		font-size: 12px;
	}
}
