.ProductSwitch--card {
	font-size: 11px;
	line-height: 1;
	color: #777;

	.ProductSwitch__link {
		&:first-child {
			margin-right: .3em;
		}

		&:last-child {
			margin-left: .3em;
		}
	}

	.ProductSwitch__number {
		font-weight: bold;
		color: #000;
	}
}
