.Search2 {
	&--header {
		display: flex;
		max-width: 400px;
		margin-left: auto;

		.Search2__field {
			border-right-width: 0;
			border-radius: 2px 0 0 2px;
		}

		.Search2__button {
			border-left-width: 0;
			border-radius: 0 2px 2px 0;

			&.Button:active {
				box-shadow: none;
			}

			.Icon2--lensSearch {
				&:before {
					width: width('icons/head_search.png');
					height: height('icons/head_search.png');
				}

				@mixin defhocusac {
					&:before {
						background-image: resolve('icons/head_search.png');
					}
				}
			}
		}
	}
}
