header {
	background-color: #fff;
	display: table;
	padding: 20px 0 25px;
	margin: 0 auto;
	width: 100%;
	line-height: normal;

	.Box {
		display: table-cell;
		vertical-align: middle;
		box-sizing: border-box;

		&--logo,
		&--list {
			width: 1px;
			padding-right: 20px;
			white-space: nowrap;
		}

		&--list:last-child {
			width: auto;
		}
	}

	@mixin dividedItems .Box__item;
}
