$BG_ACCENT: #fafccf;
$BG_ACTIVE_DEFAULT: #f00;
$BG_ACTIVE_OZ: #00aff0;

$C_DEFAULT: #111;
$C_GRAY: #666;
$C_GRAY_LIGHT: #888;
$C_BRAND: #ca130c;
$C_BRAND_ACTIVE: #e83029;
$C_STOWAGE: #6c8a42;
$C_STOWAGE_ACTIVE: #82a550;
$C_SUCCESS: #4fb861;
$C_WARNING: #FF7A00;
$C_ERROR: $C_BRAND;
$C_YELLOW: #fbf6cc;
$C_VIOLET: #aa55ac;

$C_STOWAGE_PURCHASED: #0c65a6;
$C_STOWAGE_PURCHASED_HOVER: #0379ce;
$C_STOWAGE_PURCHASED_ACTIVE: #165380;

$C_JACKPOT: #4fb861;
$C_JACKPOT_LIGHT: #52D168;
$C_JACKPOT_DARK: #45a455;
$C_JACKPOT_PALE: #ccfed4;

$C_PREPARED_ORDER: #f48840;
$C_PREPARED_ORDER_LIGHT: #f4985b;

$C_LINK: #0c65a6;
$C_LINK_H: $C_BRAND;

$C_PZK: $C_VIOLET;

$F_SEGOE_UI: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$F_SEGOE_UI_BLACK: 'Segoe UI Black', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$B_RAD: 3px;

/* SPACES */
$S_CONTENT_X: 30px;
$S_SIDEBAR: 30px;

/* WIDTHS */
$W_CONTENT_MIN: 940px;
$W_CONTENT_MAX: 1140px;
$W_CONTENT_OUTER: calc($W_CONTENT_MAX + $S_CONTENT_X * 2);
$W_SIDEBAR: 200px;
$W_CATALOG_MENU: $W_SIDEBAR;

$MH_PAGE_WRAPPER: 484px;
$PB_PAGE_WRAPPER: 60px;
$PT_MAIN_CONTENT: 30px;

/* TIMERS */
$headerTransitionDuration: .25s;
