.CartActionLink {
	@mixin LinkWithIcon true;
	display: inline-block;
	white-space: nowrap;

	&:before {
		margin-right: 5px;
		width: 20px;
		background-position: center;
	}

	&--orderCompleted {
		&:before {
			margin-top: -1px;
			background-image: svg('basket_icon_20x14', '[color]: $LINK');
			height: height('basket_icon_20x14.svg');
		}

		&:hover:before {
			background-image: svg('basket_icon_20x14', '[color]: $LINK_HOVER');
		}
	}

	&--orderCodes {
		&:before {
			margin-top: -1px;
			background-image: svg('document_10x14', '[color]: $LINK');
			height: height('document_10x14.svg');
		}

		&:hover:before {
			background-image: svg('document_10x14', '[color]: $LINK_HOVER');
		}
	}

	&--share {
		&:before {
			background-image: svg('share_11x14', '[color]: $LINK');
			height: height('share_11x14.svg');
		}

		&:hover:before {
			background-image: svg('share_11x14', '[color]: $LINK_HOVER');
		}
	}

	&.pseudoLink {
		margin-left: 25px;

		&:before {
			left: -25px;
		}
	}
}
