.ShopsAddressesList {
	&__name {
		@mixin link;

		padding-y: .3em;
		cursor: pointer;
	}

	&__descriptionList {
		display: none;
		margin-top: 2px;
	}

	&__descriptionItem {
		font-size: 12px;

		&:not(:first-child) {
			margin-top: 4px;
		}
	}

	&__descriptionTitle {
		color: #666;
	}

	&__preloader {
		display: none;

		.SpinnerContainer {
			position: relative;
			top: 0;
			width: auto;
			margin-top: 0;
		}
	}

	&__title {
		font-weight: bold;
		display: none;
		line-height: 17px;
	}

	&__notice {
		color: $RED;
		display: none;
		margin-top: 6px;
	}

	.btn {
		margin-top: 7px;
	}

	&__item {
		position: relative;
		margin-left: 18px;
		counter-increment: step-counter;

		&:not(:last-child) {
			margin-bottom: 25px;
		}

		&:before {
			position: absolute;
			top: 0;
			left: -18px;
			content: counter(step-counter)".";
		}

		.btn {
			display: none;
		}

		&--disabled {
			.ShopsAddressesList__name {
				color: $C_DISABLED;

				&:hover {
					color: $LINK_HOVER;
				}
			}
		}

		&--active {
			&:before {
				font-weight: bold;
			}

			.ShopsAddressesList__name {
				color: $BRAND_BLACK;
				cursor: default;

				&:hover {
					color: $BRAND_BLACK;
				}
			}

			.ShopsAddressesList__descriptionList,
			.ShopsAddressesList__preloader,
			.ShopsAddressesList__notice,
			.ShopsAddressesList__title {
				display: block;
			}

			.btn {
				display: inline-block;
			}
		}

		.ShopSelection--fullScreen &,
		.ShopSelection--default & {
			&--active {
				.ShopsAddressesList__name {
					font-weight: normal;
					display: block;
					line-height: 17px;
					padding-bottom: 3px;
				}

				.ShopsAddressesList__description {
					line-height: 17px;
					margin-top: 0;
				}
			}
		}
	}

	&--unnumbered {
		.ShopsAddressesList__item {
			margin-left: 0;

			&:before {
				content: none;
			}
		}
	}
}
