
.LoyaltyProgram {
	&__description {
		margin-left: 0;
	}

	@media (max-width: 920px) {
		&__logo {
			display: none;
		}
	}

	@media (max-width: 680px) {
		&__banner {
			padding-x: 20px;
			text-align: center;
		}

		&__btn {
			display: block;
			float: none;
			width: 140px;
			margin-x: auto;
		}
	}

	@media (max-width: 400px) {
		&__balance {
			font-size: 18px;
		}

		&__amount {
			font-size: 28px;
		}
	}

	&__banner--pvs {
		@media (max-width: 800px) {
			display: block;
			padding-y: 20px;

			.LoyaltyProgram__group,
			.LoyaltyProgram__box {
				display: block;
			}

			.LoyaltyProgram__balance {
				display: block;
				text-align: left;

				& + .LoyaltyProgram__balance {
					margin-top: 15px;
				}

				&--total {
					margin-bottom: 23px;
					padding-right: 0;

					&:after {
						width: 100%;
						height: 3px;
						top: auto;
						bottom: -10px;
						left: 0;
					}
				}
			}
		}
	}
}

.LoyaltyProgram--promo {
	.LoyaltyProgram {
		&__box {
			width: 48%;
			margin-bottom: 40px;

			&:nth-child(4) {
				margin-left: 0;
			}

			@media (max-width: 620px) {
				width: 100%;

				& + .LoyaltyProgram__box {
					margin-left: 0;
				}
			}
		}

		&__list {
			width: 100%;

			& + .btn {
				margin-top: 30px;
			}
		}

		&__item {
			background-position: 50% 0;
			width: 100%;
			height: auto;
			padding-top: 110px;
			padding-left: 0;

			&:nth-child(2n) {
				margin-left: 0;
			}
		}

		&__header {
			padding-x: $PAGE_WRAPPER_PADDING_MOBILE;
			margin-x: -$PAGE_WRAPPER_PADDING_MOBILE;

			@media (max-width: 760px) {
				padding-top: 60px;
				padding-bottom: 0;
				background: none;
			}
		}

		&__logo {
			display: inline-block;
		}

		@media (max-width: 760px) {
			&__banner {
				width: 100%;
				box-sizing: border-box;
				padding: 15px 43px 15px;

				.LoyaltyProgram__logo {
					width: 100%;
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
				}
			}

			&__title {
				font-size: 30px;
			}
		}
	}
}

.Page--loyaltyProgramPromo .Page__main {
	background-size: 1px 482px, auto;

	@media (max-width: 760px) {
		background-size: 0 0, auto;
	}
}

.ordersCompletedInfo--loyaltyProgram {
	margin-x: -$PAGE_WRAPPER_PADDING_MOBILE;

	@media (max-width: 980px) {
		.Item__box--personalAccount,
		.Item__box--collegialAccount {
			white-space: normal;
		}
	}

	@media (max-width: 500px) {
		.Items {
			padding-top: 15px;
		}

		.Items__list,
		.Item,
		.Item__box {
			display: block;
		}

		.Items__header {
			display: none;
		}

		.Item {
			margin-bottom: 15px;

			&__box {
				border-bottom: none;
				text-align: left;
				padding: 0;

				& + .Item__box {
					padding-top: 10px;
				}

				&--personalAccount,
				&--collegialAccount {
					width: 100%;
				}
			}

			& + .Item {
				border-top: 1px solid #e2ddd9;
				padding-top: 20px;
			}
		}
	}
}

.Form__field--loyaltyProgram {
	.Form__error {
		display: block;
		margin-left: 0;
		margin-top: 3px;
	}
}

.Question__list {
	width: auto;
}
