/* Status 2
------------------------------------------------------------------------------*/

.filters--status2 {
	.RichSelect {
		width: 100%;
	}

	.filter--branch {
		width: 170px;
	}

	.filter--status2 {
		min-width: 125px;
	}

	.filter--initiator {
		width: 160px;
	}

	.filter--response,
	.filter--client {
		width: 140px;
	}

	.filter--agree,
	.filter--decision {
		width: 150px;
	}

	.filter--territoryErp {
		width: 140px;
	}
}
