/* Согласие на обработку персональных данных
**********************************************************/

.Agreement {
	max-width: 800px;
	padding: 20px;
	font-size: 13px;

	&__notes {
		font-size: 11px;
		color: #666;
	}
}
