$theme_name: 'oz_meadow';
$theme_brand: #68a036;
$theme_bHover: #55832b;
$theme_accent: #f0b500;
$theme_aHover: #d9a400;
$theme_layoutAccentColor: #f1f1f1;

$brandColor: #00aff0;
$brandColorLighter: #2dc6ff;

@import 'modules/_themeVars_oz';

$theme_logo: logo_oz.png;
$theme_logo_width: 194px;
$theme_logo_height: 79px;
$theme_logo_s_width: 131px;
$theme_logo_s_height: 36px;

$theme_lowPrice_icon: low_price--oz.png;
$theme_lowPrice_width: 70px;
$theme_lowPrice_height: 70px;

$theme_placemarkCluster: #679f35;
$theme_placemarkClusterActive: #7bbf41;

@import '_modules';
