$theme_name: 'gv';
$theme_brand: #11ba98;
$theme_bHover: #00a383;
$theme_accent: #de3c3f;
$theme_aHover: #ff4c4f;
$theme_layoutAccentColor: #f1f1f1;

$brandColor: #0990d9;
$brandColorLighter: #00aff0;

@import 'modules/_themeVars_op';

$theme_logo: logo_gv.png;
$theme_logo_width: 207px;
$theme_logo_height: 53px;
$theme_logo_s_width: 130px;
$theme_logo_s_height: 25px;

$theme_lowPrice_icon: low_price--1.png;
$theme_lowPrice_width: 94px;
$theme_lowPrice_height: 28px;

$theme_placemarkCluster: #11b997;
$theme_placemarkClusterActive: #0dd3ab;

@import '_modules';
