$theme_name: 'oz_sea';
$theme_brand: #00aff0;
$theme_bHover: #0093c9;
$theme_accent: #ea6a48;
$theme_aHover: #cf5d3f;
$theme_layoutAccentColor: #f1f1f1;

$brandColor: #00aff0;
$brandColorLighter: #2dc6ff;

@import 'modules/_themeVars_oz';

$theme_logo: logo_oz.png;
$theme_logo_width: 194px;
$theme_logo_height: 79px;
$theme_logo_s_width: 131px;
$theme_logo_s_height: 36px;

$theme_lowPrice_icon: low_price--oz.png;
$theme_lowPrice_width: 70px;
$theme_lowPrice_height: 70px;

$theme_placemarkCluster: #e96947;
$theme_placemarkClusterActive: #ff7d59;

@import '_modules';
